/*Container*/
.card-current-employee {
  display: flex;
  justify-content: center;
  margin-bottom: 1.56rem;
}

.title-current-employee {
  color: var(--color-primary);
  margin: 0;
}

.p-datatable.p-component.p-datatable-selectable.p-datatable-responsive-scroll {
  width: 65%;
}

.flex.flex-wrap.gap-2.justify-content-between.align-items-center {
  display: flex;
  justify-content: flex-end;
}

.homePageLink {
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.p-datatable .p-datatable-header {
  background-color: var(--color-blue-grey2);
}

/* Styles pour les options de pagination */
.p-paginator .p-dropdown {
  position: absolute;
  top: 1.12rem;
  left: 0;
}

.p-paginator-current {
  position: absolute;
  left: 0;
}

.p-paginator-bottom.p-paginator.p-component {
  display: flex;
  justify-content: flex-end;
}

.errorMessage {
  width: 70%;
  font-size: 0.93rem;
  color: var(--color-secondary);
  display: flex;
  text-align: center;
  font-weight: 600;
  justify-content: center;
}

/*Medias querries- Gestion du Responsive*/
/* Styles pour les écrans jusqu'à 37.5rem de large */
@media only screen and (max-width: 37.5rem) {
  .homePageLink {
    min-width: 18.75rem;
    display: flex;
    flex-direction: column;
  }

  .flex.flex-wrap.gap-2.justify-content-between.align-items-center {
    min-width: 17.81rem;
  }
  .p-datatable.p-component.p-datatable-selectable.p-datatable-responsive-scroll {
    min-width: 19.37rem;
  }
  .p-paginator-bottom.p-paginator.p-component {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  span.p-paginator-current {
    position: absolute;
    bottom: 0;
    left: 18%;
  }
}
