html {
  min-width: 18.12rem;
}

.logo {
  display: flex;
  padding: 15px 0px;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.12rem;
}
