.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal__container {
  width: 30rem;
  border-radius: 0.5rem;
  background-color: var(--color-primary);
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.31rem 0.93rem;
  display: flex;
  flex-direction: row;
  position: relative;
}

.modal__right-part {
  width: 100%;
}

.modal__title-right-part {
  text-align: center;
  font-size: 0.5rem;
  padding: 0rem 1.56rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__description {
  padding: 1.56rem;
}

.modal__title {
  color: var(--color-secondary);
  display: flex;
  justify-content: center;
}

.modal__close-button {
  background-color: var(--color-secondary);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-primary);
  border-radius: 100%;
  font-size: 0.93rem;
  width: 1.87rem;
  height: 1.87rem;
  top: -1.09rem;
  right: -1.09rem;
  position: absolute;
}

.modal__close-img {
  width: 100%;
}

/* Médias queries - Gestion du Responsive */
/* Styles pour les écrans jusqu'à 37.5rem de large */
@media only screen and (max-width: 37.5rem) {
  .modal__container {
    min-width: 12.5rem;
    width: 80%;
  }
}
