.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modalContainer {
  width: 30rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.31rem 0.93rem;
  display: flex;
  flex-direction: row;
  position: relative;
}

.rightPart {
  width: 100%;
}

.titleRightPart {
  text-align: center;
  font-size: 0.5rem;
  padding: 0rem 1.56rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.descriptionModal {
  padding: 25px;
}

.title-employee-created {
  color: red;
  display: flex;
  justify-content: center;
}

.button {
  background-color: red;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  border-radius: 100%;
  font-size: 0.93rem;
  width: 1.87rem;
  height: 1.87rem;
  top: -1.09rem;
  right: -1.09rem;
  position: absolute;
}

.modal-open {
  overflow: hidden;
}

/*Medias querries- Gestion du Responsive*/
/* Styles pour les écrans jusqu'à 37.5rem de large */
@media only screen and (max-width: 37.5rem) {
  .modalContainer {
    min-width: 12.5rem;
    width: 80%;
  }
}
